

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mate+SC&display=swap" rel="stylesheet">
<link href="~/Content/CSS/Style-TopHeader.css" rel="stylesheet" />

<div class="top-header">
    <div class="top-header-center">
        <a href="#" title="Thuê Trọ">
            <img src="~/Content/HinhAnh/logo.png" class="fm-logo" />
            <span class="hidden">Muôn Nhà - Kênh thông tin mua bán, cho thuê Nhà đất, bất động sản</span>
        </a>
    </div>
    <div class="fm-menu">
        <span class="block-menu">
            <a href="#" class="fm-menu-a">Nhà đất bán</a>
        </span>
        <span class="block-menu">
            <a href="#" class="fm-menu-a">Nhà đất thuê</a>
        </span>
        <span class="block-menu">
            <a href="#" class="fm-menu-a">Phòng trọ</a>
        </span>
        <span class="block-menu">
            <a href="#" class="fm-menu-a">Dự án</a>
        </span>
    </div>
    <div class="top-header-right">
        <span class="block-menu">
            <a href="#" class="fm-menu-a">Tài khoản</a>
        </span>
        <span class="block-menu">
            <a href="#" class="fm-menu-a">Đăng ký</a>
        </span>
        <span class="block-menu1">
            <a href="#" class="fm-menu-a">Đăng tin</a>
        </span>
    </div>
</div>
<div style="clear:both"><hr /></div>

<div id="second-top-header">
    <span id="spnSearch">
        <input type="text" placeholder="Search" class="iSearch" />
        <button type="button" class="btnSearch">
            <i class="fas fa-search">Tìm kiếm</i>
        </button>
    </span>
</div>
<div style="clear:both"><hr /></div>


