
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

<style>
    #ThongTinNha {
        display: flex;
        align-items: center; 
    }
    #ThongTinNha img {
        margin-right: 0px;
        margin-top:5px;
        margin-left:5px;
    }
    #ThongTinNha h3{
        margin: 0px;
    }
    h3,h4,h6{
        text-decoration:none;
        margin:10px;
    }
    .Nha {
        background-color: bisque;
        margin-block:10px;
    }
</style>
}

    <div class="NoiDung">
        <ul class="DanhSachNha" style="list-style-type: none;height: 200px; width: 1000px">
            <li class="Nha">
                <a href="#">
                    <div id="ThongTinNha">
                        <span>
                            <img src="~/Content/HinhAnh/nha.jpg" style="width: 160px; height: 160px;" />
                        </span>
                        <div>
                            <h3>Cho thuê ng.căn hẻm 3m Q1, 2pn,2wc; 10tr/t, 33m2, đg Nguyễn Cảnh Chân</h3>
                            <h4 style="color:red">25 triệu/Tháng</h4>
                            <h6>Liên hệ:+84 123456789</h6>
                        </div>
                    </div>
                </a>
            </li>

            <li class="Nha">
                <a href="#">
                    <div id="ThongTinNha">
                        <span>
                            
                            <img src="~/Content/HinhAnh/nha2.jpg" style="width: 160px; height: 160px;" />
                        </span>
                        <div>
                            <h3>
                                Nhà cho thuê nguyên căn 1trệt 4Lầu đường 69/ Nguyễn Gia Trí, p25, BT.
                            </h3>
                            <h4 style="color:red">45 triệu/Tháng</h4>
                            <h6>Liên hệ:+84 123456789</h6>
                        </div>
                    </div>
                </a>
            </li>

            <li class="Nha">
                <a href="#">
                    <div id="ThongTinNha">
                        <span>
                            
                            <img src="~/Content/HinhAnh/nha3.jpg" style="width: 160px; height: 160px;" />
                        </span>
                        <div>
                            <h3>
                                Cho thuê nhà HXT 69/3A Nguyễn Gia Trí( đường D2 cũ)
                            </h3>
                            <h4 style="color:red">27 triệu/Tháng</h4>
                            <h6>Liên hệ:+84 123456789</h6>
                        </div>
                    </div>
                </a>
            </li>

            <li class="Nha">
                <a href="#">
                    <div id="ThongTinNha">
                        <span>
                           
                            <img src="~/Content/HinhAnh/nha4.jpg" style="width: 160px; height: 160px;" />
                        </span>
                        <div>
                            <h3>
                                Nhà cho thuê nguyên căn 1trệt 4Lầu đường 69/ Nguyễn Gia Trí, p25, BT.
                            </h3>
                            <h4 style="color:red">45 triệu/Tháng</h4>
                            <h6>Liên hệ:+84 123456789</h6>
                        </div>
                    </div>
                </a>
            </li>

            <li class="Nha">
                <a href="#">
                    <div id="ThongTinNha">
                        <span>
                            
                            <img src="~/Content/HinhAnh/nha5.png" style="width: 160px; height: 160px;" />
                        </span>
                        <div>
                            <h3>
                                🍀NHÀ CHO THUÊ HẺM XE HƠI NGUYỄN VĂN THƯƠNG (D1)_5.2x16m_TRỆT_2 LẦU_4PN
                            </h3>
                            <h4 style="color:red">23 triệu/Tháng</h4>
                            <h6>Liên hệ:+84 123456789</h6>
                        </div>
                    </div>
                </a>
            </li>

            <li class="Nha">
                <a href="#">
                    <div id="ThongTinNha">
                        <span>
                      
                            <img src="~/Content/HinhAnh/nha6.jpg" style="width: 160px; height: 160px;" />
                        </span>
                        <div>
                            <h3>
                                Sang nhượng CHDV tâm huyết, ngay Aeon Bình Tân, khu dân cư Tên Lửa
                            </h3>
                            <h4 style="color:red">21 triệu/Tháng</h4>
                            <h6>Liên hệ:+84 123456789</h6>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>


